.JobCard {
  width: 70%;
  height: auto;
  background-color: white;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.JobCard-description > p {
  margin: 0;
}
