.PaginationControl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.PaginationControls-button {
  background-color: #5cacee;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.PaginationControls-button:hover {
  background-color: #3a8edc;
}

.PaginationControls-text {
  font-size: 0.67em;
}